.checkout {
    margin-top: 5rem !important;
    max-width: 100rem;
    margin: 0rem auto;
    padding: 3rem 0 5rem 0;
    font-size: 1.6rem;
    background-image: url(../../static/img/background.png);
    .checkout-page {
        border: 1px solid var(--color-black);
        background-color: var(--color-white);;
        width: 90rem;
        min-height: 50rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem auto 0;
        padding: 5rem;

        .checkout-header {
          width: 100%;
          padding: 10px 0;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid darkgrey;

          .header-block {
            font-weight: 700;
            text-transform: capitalize;
            width: 23%;

            &:last-child {
              width: 8%;
            }
          }
        }

        .total {
          margin-top: 30px;
          margin-left: auto;
          font-size: 36px;
        }
        .test-warning {
          text-align: center;
          margin-top: 4rem;
          font-size: 2.4rem;
          color: red;
          margin-bottom: 1rem;
        }

        button {
          margin-top: 5rem;
        }
      }

}