$theme-blue: #14B6D4;

.slide-arrow {
	color: $theme-blue;
	cursor: pointer;
	font-size: 3rem;
	display: inline-block;
}

.slide-arrow.right {
	position: absolute;
	top: 45%;
	right: 3rem;
}

.slide-arrow.left {
	position: absolute;
	top: 45%;
	left: 3rem;
}
