.footer {
    max-width: 100rem;
    margin: 0rem auto;
    height: 39rem;
    font-size: 1.6rem;
    background-color: var(--color-primary-dark);
    display: flex;
    flex-direction: column;
    margin: auto;

    &__text {
        text-transform: uppercase;
        text-align: center;
        padding: 9rem 0 4rem 0;
        color: var(--color-white);
        font-weight: 700;
        font-size: 3rem;
    }
    &__contact {
        display: flex;
        justify-content: space-evenly;
        &-insta {
            display: flex;
            flex-direction: column;
            text-align: center;
            &-pic {
                align-self: center;
                width: 5rem;
                margin-bottom: 1rem;
            }
            &-name {
                color: var(--color-white);
                font-weight: 700;
            }
        }

    }
}