.homepage {
    max-width: 100rem;
    margin: 0rem auto;
    background-image: url(../../static/img/background.png);
    min-height: 57rem;
    border-bottom: 7px solid var(--color-primary-light);

    &__greeting {
        margin-top: 5rem;

        padding-top: 5rem;
        padding-bottom: 13rem;
        display: flex;
        justify-content: right;

        &-text {
            background-color: var(--color-primary-dark);
            color: var(--color-white);
            display: inline-block;
            width: 75%;
            height: 7rem;
            border-right: 12px solid var(--color-primary-light);
            font-size: 3rem;
            font-weight: 700;
            text-align: center;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;

            &-p {
                display: inline-block;
            }

            &-avatar {
                content: url(../../static/img/captain.png);
                width: 16rem;
                border-radius: 100px;
                border: 1px solid var(--color-black);
                position: absolute;
                top: 0;
                left: -8rem;
            }
        }
    }

    &__main {
        background-color: var(--color-primary-light);
        margin: 0 1.5rem;
        height: 21rem;
        position: relative;
        z-index: 1;

        &-center {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &-p {
            display: block;
            font-size: 1.5rem;
            background-color: var(--color-white);
            margin: 1rem;
            padding: 1.8rem;
            position: relative;
            z-index: 100;

        }



        &-square {
            height: 25rem;
            width: 25rem;
            background-color: var(--color-primary-light);
            transform: rotate(55deg);
            position: absolute;
            top: -3rem;
            right: 37rem;
            z-index: 1;
          }
          &-square::before {
            content: "";
            height: 25rem;
            width: 25rem;
            background-color: var(--color-primary-dark);
            top: 2rem;
            right: 2rem;
            position: absolute;
            z-index: -2222;
        }
    }
}