.header {
    max-width: 100rem;
    margin: 0rem auto;
    position: relative;
    .added-notification {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1000;
        &__text{
            position: fixed;
            top: 5rem;
            color: green;
            background-color: var(--color-white);
            padding: 0rem 2rem;
            border: 2px solid var(--color-black);
            height: 3rem;
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
    .removed-notification {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1000;
        &__text{
            position: fixed;
            top: 5rem;
            color: red;
            background-color: var(--color-white);
            padding: 0rem 2rem;
            border: 2px solid var(--color-black);
            height: 3rem;
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
    .header__comp {
        height: 6rem;
        width: 100rem;
        font-size: 1.6rem;
        border-top: 5px solid var(--color-primary-dark);
        background-color: var(--color-primary-light);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        top: 0;
        z-index: 4;
        border: 1px solid var(--color-primary-dark);

        &__list a {
            display: inline-block;
            color: var(--color-black);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            width: 15rem;
            border: 2px solid var(--color-primary-dark);
            border-radius: 100px;
            background-color: var(--color-white);
        }

        &__list a.chosen {
            display: inline-block;
            color: var(--color-white);
            border: 1px solid var(--color-primary-dark);
            border-radius: 100px;
            background-color: var(--color-primary-dark);

        }
    }
}