.category {
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .choice:last-child {
            margin: auto;
        }
    }
    margin-top: 5rem !important;
    max-width: 100rem;
    margin: 0rem auto;
    padding: 3rem 0 1rem 0;
    font-size: 1.6rem;
    background-image: url(../../static/img/background.png);
}