.cart-icon {
    width: 4.2rem;
    height: 4.2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: var(--color-white);
    border-radius: 100px;
    border: 2px solid var(--color-black);

    .shopping-icon {
      width: 3rem;
      height: 3rem;
      margin-bottom: 5px;
    }

    .item-count {
      position: absolute;
      font-size: 1.5rem;
      font-weight: bold;
      bottom: 5px;
    }
  }
